NODE_ENV=development
APP_VERSION=0.0.0

API_PORT=3001
API_URL=http://localhost:3001

POSTGRES_USER=fairdrops
POSTGRES_PASSWORD=fairdrops
POSTGRES_DB=fairdrops
POSTGRES_PORT=5432
DATABASE_URL=postgresql://fairdrops:fairdrops@localhost:5432/fairdrops

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

ANVIL_PORT=8545
ANVIL_CHAIN_ID=31337
